[Desktop Entry]
X-SuSE-translate=false
Type=Application
Version=4.1.1
Name=kueue
GenericName=Queue Manager
Exec=kueue
Icon=kueue
Terminal=false
Categories=Qt;Office;Database;
