[Desktop Entry]
X-SuSE-translate=false
Type=Application
Version=5.0.18
Name=kueue
GenericName=Queue Manager
Exec=kueue
Icon=kueue
Terminal=false
Categories=Qt;Office;Database;
